html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.logo{
  width: 100px;
  height: 40px;
}

.logo:hover{
  width: 130px;
  height: 60px;
  transition-duration: .3s;
}

.titulo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-item:hover{
  font-size: 24px;
  transition-duration: .3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.271);
}

.container-fluid{
  background-color: rgba(174, 174, 174, 0.112)
}