@{
    ViewData["Title"] = "Home Page";
}

<div class="empresa">
    <h1 class="titulo">Sobre a empresa X</h1>
    <p>A Empresa X é líder no mercado há mais de 10 anos, oferecendo soluções inovadoras em tecnologia. Nossa missão é
        transformar desafios em oportunidades, promovendo o crescimento sustentável e o sucesso dos nossos clientes.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum fuga excepturi, dolorem, eaque deserunt modi
        placeat, asperiores earum cumque nihil libero! Nesciunt ullam aspernatur aut pariatur sint iure consequuntur
        quas!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quaerat labore? Numquam laboriosam corrupti iste
        aliquid esse voluptatibus! Explicabo maiores cupiditate molestias expedita vel unde placeat deleniti possimus
        consectetur quaerat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque odio maxime laborum dignissimos ad ut
        molestiae, molestias perspiciatis ex deserunt sed qui esse enim voluptatem blanditiis modi quasi sint!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque odio maxime laborum dignissimos ad ut
        molestiae, molestias perspiciatis ex deserunt sed qui esse enim voluptatem blanditiis modi quasi sint!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque odio maxime laborum dignissimos ad ut
        molestiae, molestias perspiciatis ex deserunt sed qui esse enim voluptatem blanditiis modi quasi sint!</p>
</div>

<div class="servicos" id="02">
    <h1 class="titulo">Nossos serviços</h1>
    <p>Oferecemos uma ampla variedade de serviços, incluindo desenvolvimento de software, consultoria em TI, e gestão de
        projetos. Com uma equipe altamente qualificada, garantimos soluções eficazes e personalizadas para cada cliente.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci? Cupiditate expedita molestiae atque.
        Ipsam consequuntur officiis eaque recusandae eum earum est, voluptates a quis atque praesentium nisi animi aut!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci? Cupiditate expedita molestiae atque.
        Ipsam consequuntur officiis eaque recusandae eum earum est, voluptates a quis atque praesentium nisi animi aut!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci? Cupiditate expedita molestiae atque.
        Ipsam consequuntur officiis eaque recusandae eum earum est, voluptates a quis atque praesentium nisi animi aut!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci? Cupiditate expedita molestiae atque.
        Ipsam consequuntur officiis eaque recusandae eum earum est, voluptates a quis atque praesentium nisi animi aut!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, adipisci? Cupiditate expedita molestiae atque.
        Ipsam consequuntur officiis eaque recusandae eum earum est, voluptates a quis atque praesentium nisi animi aut!
    </p>
</div>

<div class="contato" id="03">
    <h1 class="titulo">Nossos contatos</h1>
    <p>Para mais informações sobre nossos serviços ou para agendar uma consulta, entre em contato conosco pelo email
        contato@empresax.com.br ou pelo telefone (11) 9999-9999.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, deserunt. Temporibus debitis voluptatem deserunt
        hic a expedita, nam modi at doloribus natus neque facere rerum blanditiis excepturi voluptates illum quia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, deserunt. Temporibus debitis voluptatem deserunt
        hic a expedita, nam modi at doloribus natus neque facere rerum blanditiis excepturi voluptates illum quia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, deserunt. Temporibus debitis voluptatem deserunt
        hic a expedita, nam modi at doloribus natus neque facere rerum blanditiis excepturi voluptates illum quia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, deserunt. Temporibus debitis voluptatem deserunt
        hic a expedita, nam modi at doloribus natus neque facere rerum blanditiis excepturi voluptates illum quia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, deserunt. Temporibus debitis voluptatem deserunt
        hic a expedita, nam modi at doloribus natus neque facere rerum blanditiis excepturi voluptates illum quia!</p>
</div>
